In [2]:
import pandas as pd
import json

In [40]:
with open("out_1.json") as f:
	a = json.load(f)

df = pd.concat([pd.DataFrame(i) for i in a]).groupby(level=0).mean()
df.index = df.index.map(int)
df.sort_index(inplace=True)

df.to_json("out_1_avg.json")

In [41]:
df

          bubble  insertion     merge     quick  selection     shell
125     0.028323   0.000682  0.000415  0.000988   0.000716  0.000425
250     0.212138   0.003271  0.000871  0.001994   0.002736  0.000978
500     1.676408   0.013377  0.001891  0.007474   0.011801  0.002435
1000   14.033622   0.051773  0.004148  0.037215   0.050802  0.006082
2000  116.941429   0.199850  0.009420  0.109191   0.190356  0.013128
4000  966.929022   0.806647  0.020786  0.370032   0.749763  0.028741
8000         NaN   3.209834  0.045046  1.599680   2.997284  0.064469